# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Jupyter notebooks
.ipynb_checkpoints

# Model weights or large files
*.pt
*.h5
*.ckpt
